.button {
  border: none;
  outline: none;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: 700;
  font-size: .875rem;
}

.primary-button {
  background-color: rgb(214, 45, 95);
  color: antiquewhite;
  transition: all 0.1s ease-in;
}

.primary-button:hover {
  background-color: rgb(185, 37, 87);
}

.primary-button:active {
  transform: scale(0.97);
}
